src/main/mule/implementation/get-cibil-score.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="get-cibil-score" doc:id="2c906355-4a8e-4e94-93cd-3e714997deb4" >
		<ee:transform doc:name="Transform Message" doc:id="06e28fc7-6992-49df-92aa-3817baad6332" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:select doc:name="Select" doc:id="0d0642f7-0ea2-489a-8b3c-61528e5352e0" config-ref="main_snowflake-connector">
			<snowflake:sql ><![CDATA[${cibil.query}]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	UserId : attributes.uriParams.UserId as Number
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message" doc:id="bec46d9b-4e48-466c-a6f8-7fe34be14b59">
			<ee:message>
				<ee:set-payload resource="p-cibil-score.dwl"></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
