src/main/mule/loan-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
    <apikit:config name="loan-api-config" api="resource::096484fd-dcfd-4f60-9f58-aecc0e2e110f:loan-api:1.0.0:raml:zip:loan-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="loan-api-main">
        <http:listener path="/api/*" config-ref="main_http-listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="loan-api-config" />
    </flow>
    <flow name="loan-api-console">
        <http:listener path="/console/*" config-ref="main_http-listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="loan-api-config" />
    </flow>
    <flow name="get:\cibil-score\(UserId):loan-api-config">
		<flow-ref doc:name="get-cibil-score" doc:id="2b4b74cc-d351-42c0-929c-6d8d3c96ae15" name="get-cibil-score" />
    </flow>
    <flow name="get:\customer-loan-details\(UserId):loan-api-config">
        <flow-ref doc:name="get-customer-loan-details" doc:id="2cf1842c-fbba-44c0-9a9b-0a97cbbab325" name="get-customer-loan-details"/>
    </flow>
    <flow name="post:\loan-status:application\json:loan-api-config">
		<flow-ref doc:name="update-loan-status" doc:id="e4628a91-7187-4bf2-bc2b-dfe848719667" name="post-loan-status"/>
    </flow>
</mule>
